.title-loc {
  text-align: center;
  color: white;
  background-color: rgb(29, 149, 230);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.form-loc {
  margin-left: 20px;
  vertical-align: center;
}

.form-sty {
  font-size: 15px;
  vertical-align: center;
  border-radius: 5px;
  height: 35px;
}